type project
title
    TestUC
owners
    Author not set
authors 
    Author not set
projectUrl
    https://github.com/[github-user]/TestUC
iconUrl
    https://raw.githubusercontent.com/[github-user]/TestUC/master/docs/files/img/logo.png
licenseUrl
    https://github.com/[github-user]/TestUC/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    fsharp
summary
    Summary not set
description
    Description not set


